.loader-hidden {
/*    visibility: hidden;*/
    display:none;
}

.loader-overlay {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 500000;
    text-align: center;
    /*opacity: 0.1;*/
    background-color:rgba(0,0,0,0.15);
    display:block;
}